<link rel="shortcut icon" href="cover.png">
<title>Shitty Improv Demos #1</title>

    <meta name="title" content="Shitty Improv Demos #1">
        <meta property="og:title" content="Shitty Improv Demos #1">
        <meta property="og:type" content="album">
        <meta property="og:site_name" content="N. Starter & The Bad Ideas">
        <meta property="og:description" content="3 track album">
        <meta property="og:image" content="cover.png">

	<script src="jquery.min.js"></script>
	<script src="playlist.js"></script>

	<h1>Shitty Improv Demos #1</h1>

	<a href="https://nonstarters.gitlab.io">(Return to Index)</a><br><br>

	<img style="border:1px white solid" src="cover.png" width="250px" height="250px"/>

	<p>N. Starter &amp; The Bad Ideas // <i>Released on 10th June 2018</i></p>

	<p>For his brand new side project, N. Starter is joined by a newly assembled backing band to take you on an improvised journey - his immediate thoughts. These songs were written + recorded on the spot over the course of about 7 minutes on a rainy Sunday morning.</p><hr>

<h2>Listen</h2>

Click on a track's title to play it, &amp; the website will stream the playlist from there!<br>
Alternatively, you can stream this album in your own media player with its <a href="sid1.m3u">M3U File</a>.<br><br>

<audio id="audio" preload="auto" tabindex="0" controls="" src="1_tellmehowitfeels.mp3">

	You don't have Javascript enabled, but you can click a track's title to download it. :)

</audio>

<ul id="playlist">

	<li class="active">
	
		<a href="1_tellmehowitfeels.mp3">
			Tell Me How It Feels
		</a>
	
	</li>

	<li>
	
		<a href="2_brickwall.mp3">
			Brick Wall
		</a>
	
	</li>
	
	<li>
	
		<a href="3_latexballoons.mp3">
			Three Latex Balloons
		</a>
	
	</li>

</ul>

<hr>

<h2>Download Album</h2>

<a href="https://gitlab.com/nonstarters/sid1/">clone/download the repo</a>.
